<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Seattle Health Clinic</title>

    <!-- style sheets -->
    <link href="https://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/content/css/layout.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Slabo+27px" rel="stylesheet">
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/content/js/layout.js"></script>
  </head>
  <body>
    <!-- navbar -->
    <div class="container">
      <div class="row container">
        <nav class="navbar navbar-default text-center">
          <div class="navbar-header">
            <a class="navbar-brand" href="/home_view/@Model["currentEmployee"].GetId()">SEATTLE HEALTH CLINIC</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-fw fa-lg fa-medkit"></i>Personnel</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/personnel/@Model["currentEmployee"].GetId()/current">Current Employees</a></li>
                  <li><a href="/personnel/@Model["currentEmployee"].GetId()/records">Records</a></li>
                  <li class="divider"></li>
                  <li><a href="/personnel/@Model["currentEmployee"].GetId()/add_employee">Add New Employee</a></li>
                  <li><a href="/personnel/@Model["currentEmployee"].GetId()/edit_employee">Edit Current Employee</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-fw fa-lg fa-users"></i>Patients</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/patients/@Model["currentEmployee"].GetId()/current-patients">Current Patients</a></li>
                  <li><a href="/patients/@Model["currentEmployee"].GetId()/add-new-record/">Administrative Records</a></li>
                  <li><a href="/patients/@Model["currentEmployee"].GetId()/add-new-eval/">Medical Records</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-fw fa-lg fa-user-md"></i>Profile</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/profile/@Model["currentEmployee"].GetId()/personal">Personal</a></li>
                  <li><a href="/profile/@Model["currentEmployee"].GetId()/payroll">Payroll</a></li>
                  <li><a href="/profile/@Model["currentEmployee"].GetId()/licensure">Licensure</a></li>
                </ul>
              </li>
              <li><a href="#"><strong id="name"> @Model["currentEmployee"].GetFullName()</strong></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- body -->
    @RenderBody()

  </body>
</html>
