@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- cosmetic feature shows the current page route -->
      <ul class="breadcrumb">
        <li>(Menu Name) > <span class="highlight-text">(Sub-menu Name)</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- linked list used to navigate to parts of the page -->
      <div class="list-group">
        <a class="list-group-item active">Display #1</a>
        <a class="list-group-item">Display #2</a>
        <a class="list-group-item">Display #3</a>
        <a class="list-group-item">Display #4</a>
      </div>
    </div>
    <!-- main body for display of material -->
    <div class="col-md-7 col-md-offset-1">
      <!-- main panel should have panel-primary -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Display #1</h3>
        </div>
        <div class="panel-body">
          (information)
        </div>
      </div>
      <!-- every panel after the hide should have the panel-hide class the panel-body -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Display #2</h3>
        </div>
        <div class="panel-body panel-hide">
          (information)
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Display #3</h3>
        </div>
        <div class="panel-body panel-hide">
          (information)
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Display #4</h3>
        </div>
        <div class="panel-body panel-hide">
          (information)
        </div>
      </div>
    </div>
  </div>
</div>
