<form class="" action="/add/symptom" method="post">
  <label for="symptom-name">Symptom Name</label>
  <input type="text" name="symptom-name" value="">
  <label for="symptom-classification">Symptom Classification</label>
  <input type="text" name="symptom-classification" value="">
  <label for="visit-contagious">Contagious
    <select class="" name="visit-contagious">
      <option value="true">Contagious</option>
      <option value="false">Not Contagious</option>
      <option value="true">Potentially Contagious</option>
    </select>
  </label>
  <button type="submit" name="button">Submit</button>
</form>
