<form class="" action="/add/diagnosis" method="post">
  <label for=""> Choose Patient
    <select class="" name="diagnosis-patient-id">
    @foreach(var allPatient in Model["patients"])
    {
    <option value="@allPatient.GetId()">@allPatient.GetName()</option>
    }
    </select>
  </label>

  <div class="testCheckBox">
    @foreach(var allsymptom in Model["symptoms"])
    {
      <input type="checkbox" name="symptom" value="@allsymptom.GetId()">@allsymptom.GetName()
    }
    <input id="hiddenInput" type="hidden" name="symptom-array" value="">
  </div>




  <label for="diagnosis-date">diagnosis Date</label>
  <input type="date" name="diagnosis-date" id="diagnosis-date">
  <button type="submit" name="button">Submit</button>
</form>
<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>

<script src="/Content/js/checkbox.js" type="text/javascript">

</script>
