@{Layout = "Views/Shared/_Layout.cshtml";}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="breadcrumb">
        <li><span class="highlight-text">Home</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item active">Patient Situation</a>
        <a class="list-group-item">Announcements</a>
        <a class="list-group-item">News</a>
        <a class="list-group-item">Misc</a>
      </div>
      <blockquote>
        <p>Good care makes happy patients and happy patients line pockets.</p>
        <small>Sam Markitter, <em>Inspiration for the Unhappy Worker</em></small>
      </blockquote>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Patient Situation</h3>
        </div>
        <div class="panel-body">
          Number of Current Patients, Patient Condition (Urgent/Critical), (Some Kind of Chart?)
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Announcements</h3>
        </div>
        <div class="panel-body panel-hide">
          Seattle Health Clinic is now open for business! Welcome new employees, we hope you all are looking forward to the opportunities to help humankind and enrich yourselves at the same time. Remember: Healthcare Shouldn't Be Cheap!
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">News</h3>
        </div>
        <div class="panel-body panel-hide">

          @foreach(var news in Model["news"])
          {

            <h3>@news.Headline.ToString()</h3>

            <p>@news.Summary</p>
          }
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Misc</h3>
        </div>
        <div class="panel-body panel-hide">
          Style this page last!
        </div>
      </div>
    </div>
  </div>
</div>
