@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="breadcrumb">
        <li><span class="highlight-text">Home</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item active">Patient Situation</a>
        <a class="list-group-item">Announcements</a>
        <a class="list-group-item">News</a>
        <a class="list-group-item">Employee of the Month</a>
      </div>
      <blockquote>
        <p>Good care makes happy patients and happy patients line pockets.</p>
        <small>Sam Markitter, <em>Inspiration for the Unhappy Worker</em></small>
      </blockquote>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Patient Situation</h3>
        </div>
        <div class="panel-body">
          Number of Current Patients, Patient Condition (Urgent/Critical), (Some Kind of Chart?)
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Announcements</h3>
        </div>
        <div class="panel-body panel-hide">
          Style this page last!
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">News</h3>
        </div>
        <div class="panel-body panel-hide">
          Style this page last!
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Employee of the Month</h3>
        </div>
        <div class="panel-body panel-hide">
          <p><strong>Doc Gonzo</strong> is a homely but beloved physician who wouldn't hurt a bone in anyone's body. He loves bones - a lot. He's known by patients as the kindly doctor most likely to howl in distress when an ambulance siren screams by - worried about the sad plight of an injured or sickly occupant. We commend Doc Gonzo on his keen sense of smell and willingness to try not to slobber on patients when performing procedures -</p>
          <p>Congratulations, Doc, good boyo!</p>
          <img class="img-responsive" src="/Content/img/gonzo.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
