@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <!-- cosmetic feature shows the current page route -->
      <ul class="breadcrumb">
        <li><span class="highlight-text">Home</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- linked list used to navigate to parts of the page -->
      <div class="list-group">
        <a class="list-group-item">Since Last Visit</a>
        <a class="list-group-item">News</a>
        <a class="list-group-item">Display #3</a>
        <a class="list-group-item">Display #4</a>
      </div>
      <!-- cosmetic feature -->
      <blockquote>
        <p>Good care makes happy patients and happy patients line pockets.</p>
        <small>Sam Markitter, <em>Inspiration for the Unhappy Worker</em></small>
      </blockquote>
    </div>
    <!-- main body for display of material -->
    <div class="col-md-7 col-md-offset-1">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Since Last Visit</h3>
        </div>
        <div class="panel-body">
          Style this page last!
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">News</h3>
        </div>
        <div class="panel-body">
          Style this page last!
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Display #3</h3>
        </div>
        <div class="panel-body">
          Style this page last!
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Display #4</h3>
        </div>
        <div class="panel-body">
          Style this page last!
        </div>
      </div>
    </div>
  </div>
</div>
