@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- cosmetic feature: shows the current page route -->
      <ul class="breadcrumb">
        <li class="highlight-text">Home</li>
      </ul>
    </div>
    <div class="col-md-3">
      <!-- linked list: used to navigate to parts of the page -->
      <div class="list-group">
        <a href="#" class="list-group-item active">Since Last Visit</a>
        <a href="#" class="list-group-item">News</a>
        <a href="#" class="list-group-item">Something Else</a>
        <a href="#" class="list-group-item">Something Else</a>
        <a href="#" class="list-group-item">Something Else</a>
      </div>
    </div>
    <!-- main body for display of material -->
    <div class="col-md-7 col-md-offset-1">
      <p>Sustainable viral hoodie pop-up cliche. Helvetica chillwave tilde marfa. Biodiesel offal hammock, kitsch heirloom butcher XOXO schlitz waistcoat pickled organic knausgaard cliche. Microdosing locavore gochujang, you probably haven't heard of them post-ironic butcher narwhal. Kale chips wolf helvetica lo-fi, waistcoat street art cold-pressed aesthetic drinking vinegar farm-to-table. Lumbersexual slow-carb selfies, kale chips tumblr beard literally williamsburg messenger bag salvia offal tacos. Yr iPhone flexitarian, cray chartreuse swag health goth echo park gochujang synth pork belly pop-up gluten-free readymade.</p>
    </div>
  </div>
</div>
