<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Seattle Health Clinic</title>

    <!-- style sheets -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/content/css/landing_page.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Slabo+27px" rel="stylesheet">
  </head>
  <body>
    <div class="container">
  		<div class="row">
  			<div class="col-md-6 col-md-offset-3 panel panel-default">
  				<h1 class="text-center"><strong>SEATTLE HEALTH CLINIC</strong></h1>
          <h5 class="text-center"><em>healthcare for those who can afford it</em></h5>

          <p>Invalid Email or Password. Please try again!<p>
  			</div>
  		</div>
  	</div>

    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/content/js/landing_page.js"></script>
  </body>
</html>
