<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Seattle Health Clinic</title>

    <!-- style sheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/content/css/landing_page.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Patua+One" rel="stylesheet">
  </head>
  <body>
    <div class="container">
  		<div class="row">
  			<div class="col-md-6 col-md-offset-3 panel panel-default">

  				<h1 class="text-center">Seattle Health Clinic</h1>
          <h5 class="text-center"><em>healthcare for those who can afford it</em></h5>

          <!-- TEMPORARY ROUTE -->
  				<form action="/" method="post">
  					<p class="input-group">
  						<span class="input-group-addon"><i class="fa fa-sign-in" aria-hidden="true"></i></span>
  						<input type="text" class="form-control input-lg" name="login" placeholder="john_malpractice">
  					</p>
            <p class="input-group">
  						<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
  						<input type="password" class="form-control input-lg" name="password" placeholder="password">
  					</p>
  					<p class="text-center">
  						<button type="submit" class="btn btn-success btn-lg">Sign In</button>
  					</p>
  				</form>
  			</div>
  		</div>
  	</div>

    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/content/js/landing_page.js"></script>
  </body>
</html>
