@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- cosmetic feature shows the current page route -->
      <ul class="breadcrumb">
        <li>Personnel > <span class="highlight-text">Add New Employee</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- linked list used to navigate to parts of the page -->
      <div class="list-group">
        <a class="list-group-item active">Add New Employee</a>
      </div>
    </div>
    <!-- main body for display of material -->
    <div class="col-md-7 col-md-offset-1">
      <!-- main panel should have panel-primary -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Employee</h3>
        </div>
        <div class="panel-body text-center">
          <p>Please fill out the form completely!</p>
          <a href="/personnel/@Model["currentEmployee"].GetId()/add_employee" button type="button" class="btn btn-danger">Return</a>
        </div>
      </div>
    </div>
  </div>
</div>
