@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- cosmetic feature shows the current page route -->
      <ul class="breadcrumb">
        <li>Personnel > <span class="highlight-text">Records</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- linked list used to navigate to parts of the page -->
      <div class="list-group">
        <a class="list-group-item active">Personnel Overview</a>
        <a class="list-group-item">Patient Overview</a>
        <a class="list-group-item">Diagnostics</a>
        <a class="list-group-item">Activity</a>
      </div>
    </div>
    <!-- main body for display of material -->
    <div class="col-md-7 col-md-offset-1">
      <!-- main panel should have panel-primary -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Personnel Overview</h3>
        </div>
        <div class="panel-body">
          <span>The Seattle Health Clinic currently employees @Model["allEmployees"].Count staff members.</span>
        </div>
      </div>
      <!-- every panel after the hide should have the panel-hide class the panel-body -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Patient Overview</h3>
        </div>
        <div class="panel-body panel-hide">
          <span>The Seattle Health Clinic currently serves @Model["allPatients"].Count clients.</span>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Activity</h3>
        </div>
        <div class="panel-body panel-hide">
          <span>We currently have @Model["patientScheduling"].Count scheduled appointments.</span>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Diagnostics</h3>
        </div>
        <div class="panel-body panel-hide">
          <span>We have diagnosed a total of @Model["conditionEval"].Count horrible afflictions.</span>
        </div>
      </div>
    </div>
  </div>
</div>
