@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="breadcrumb">
        <li>Personnel > <span class="highlight-text">Add New Employee</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item active">Add New Employee</a>
      </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Employee</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal">
            <fieldset>
              <p class="input-group">
    						<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
    						<input type="text" class="form-control" name="login-firstname" placeholder="John">
    					</p>
              <p class="input-group">
    						<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
    						<input type="text" class="form-control" name="login-lastname" placeholder="Malpractice">
    					</p>
              <p class="input-group">
    						<span class="input-group-addon"><i class="fa fa-archive" aria-hidden="true"></i></span>
    						<input type="number" class="form-control" name="login-ssn" placeholder="123456789">
    					</p>
              <!-- employee type: Medical, Administrative, Management -->
              <p class="input-group">
    						<span class="input-group-addon"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
    						<input type="email" class="form-control" name="login-email" placeholder="select class">
    					</p>
              <!-- salary type: annual, hourly -->
              <p class="input-group">
    						<span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
    						<input type="email" class="form-control" name="login-email" placeholder="select class">
    					</p>
              <p class="input-group">
    						<span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
    						<input type="email" class="form-control" name="login-email" placeholder="john@malpractice.com">
    					</p>
              <p class="input-group">
    						<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
    						<input type="password" class="form-control" name="login-password" placeholder="password">
    					</p>
              <p class="input-group">
    						<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
    						<input type="date" class="form-control" name="login-hiredate" placeholder="1/1/2016">
    					</p>
              <div class="center-button">
                <div class="btn-group" role="group">
                  <button type="reset" class="btn btn-danger">Reset</button>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
