@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li>Personnel > <span class="highlight-text">Add New Employee</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item active">Add New Employee</a>
      </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Employee</h3>
        </div>
        <div class="panel-body">
          <form action="/personnel/@Model["currentEmployee"].GetId()/add_employee" method="post" class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label for="input-firstname" class="col-lg-2 control-label">First Name</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" name="input-firstname" placeholder="First Name">
                </div>
              </div>
              <div class="form-group">
                <label for="input-lastname" class="col-lg-2 control-label">Last Name</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" name="input-lastname" placeholder="Last Name">
                </div>
              </div>
              <div class="form-group">
                <label for="input-email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" name="input-email" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="input-password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                  <input type="password" class="form-control" name="input-password" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label for="input-ssn" class="col-lg-2 control-label">SSN</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" name="input-ssn" placeholder="Social Security Number">
                </div>
              </div>
              <div class="form-group">
                <label for="input-employeetype" class="col-lg-2 control-label">Employee Type</label>
                <div class="col-lg-10">
                  <select class="form-control" name="input-employeetype">
                    <option value="Medical">Medical</option>
                    <option value="Administrative">Administrative</option>
                    <option value="Managerial">Managerial</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="input-salarytype" class="col-lg-2 control-label">Salary Type</label>
                <div class="col-lg-10">
                  <select class="form-control" name="input-salarytype">
                    <option value="Annual">Annual</option>
                    <option value="Hourly">Hourly</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="input-hiredate" class="col-lg-2 control-label">Hire Date</label>
                <div class="col-lg-10">
                  <input type="date" class="form-control" name="input-hiredate" placeholder="Hire Date">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="reset" class="btn btn-danger">Reset</button>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
