@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- cosmetic feature shows the current page route; use highlight-text -->
      <ul class="breadcrumb">
        <li>Profile > <span class="highlight-text">Scheduling</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- linked list used to navigate to parts of the page -->
      <div class="list-group">
        <a class="list-group-item">Display #1</a>
        <a class="list-group-item">Display #2</a>
        <a class="list-group-item">Display #3</a>
        <a class="list-group-item">Display #4</a>
      </div>
    </div>
    <!-- main body for display of material -->
    <div class="col-md-7 col-md-offset-1">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Display #1</h3>
        </div>
        <div class="panel-body">
          (information)
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Display #2</h3>
        </div>
        <div class="panel-body">
          (information)
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Display #3</h3>
        </div>
        <div class="panel-body">
          (information)
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Display #4</h3>
        </div>
        <div class="panel-body">
          (information)
        </div>
      </div>
    </div>
  </div>
</div>
