.container {
  max-width: 1080px;
}

.navbar-brand {
  font-family: 'Slabo 27px', serif;
  font-size: 32px;
}

#name {
  font-weight: bold;
  font-size: 16px;
}

.highlight-text {
  color: #F0AD4E;
}

.panel-hide {
  display: none;
}

.center-button {
  text-align: center;
}

.breadcrumb {
   background-color: transparent;
   border-radius: 0;
   -moz-border-radius: 0;
   -webkit-border-radius: 0;
   -o-border-radius: 0;
}

/*for placeholder text*/
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}
