.patient-button-wide {
  width: 100%;
}

.patient-margin-row {
  margin-bottom: 10px;
}

.patient-button {
  background-color: #777;
}

.patient-header-row {
  background-color: #485563;
}

.form-row{
  display: none;
}

 .message-li {
   font-size: 14px;
 }

.center {
  width: 100%;
  text-align: center;
}

.all-patient-row :nth-child(odd).row{
  background-color: #4e5d6c;
}
.all-patient-row :nth-child(even).row{
  background-color: #485563;
}
